<%= javascript_include_tag "scroll.js" %> 
<%= javascript_include_tag "fade1.js" %> 
<%= javascript_include_tag "fade2.js" %> 

 <body style="background-color: #181818">
  <div style="margin: 20px;">
    <div class="col-sm-12" style="background-color: #181818;">
 
      <div id="work">
        <div id="workHeader" class="col-sm-12">
          <h1 class="lead" style="color: white; font-size: 50px; margin: 0px">
            Work
          </h1>
          <div class="lead" style="color: #888888; margin-left: 20px">
            But blurb here about how I work
          </div>
          <div id="mouseover1" style="padding-bottom: 20px">
            <i style="color: #181818">!</i>
            <i class="col-lg-3 col-md-4 col-xs-6" style="color: #666666; padding-left: 20px" id='fade1'>Click for more information</i>
          </div>
        </div>
        <div class="panel-group" id="accordion1">
          <div class="panel" style="background-color: #181818;">
            <div class="col-sm-8">
              <% @experiences.each do |experience| %>
              <div class="col-lg-3 col-md-4 col-xs-6 collapse-group" style="margin-bottom: 0px; width: 210px; height: 210px; overflow: hidden">
                <a class="text-center" data-parent="#accordion1" data-toggle="collapse" data-target="#collapse_<%= experience.id %>">
                <img style="width: 95%" src="<%= experience.imageURL%>" data-toggle="tooltip" data-placement="top"> 
                </a>
              </div>
              <% end %>
            </div>
            <% @experiences.each do |experience| %> 
            <div class="col-sm-4 collapse" id="collapse_<%= experience.id%>" style="color: white">
              <div class="display-3 lead text-center"><%= experience.title%></div>
              <div class="display-3 lead text-center"><%= experience.company%></div>
              <div class="lead text-center" style="font-size: 16px">
                <%= experience.startDate.strftime('%B %Y') %>
                to
                <%= experience.endDate.strftime('%B %Y') %>
              </div>
              <div>
                <%= experience.description %>
              </div>
              <div>
                <%= experience.technologies %>
              </div>
            </div>
            <% end %>
          </div>
        </div>  
      </div>
      <div class="col-sm-12">
        <hr class="my-2" style="margin-bottom: 20px;">
      </div>
  
        <div id="spacer" class="col-sm-12"></div>
      
      <div id="skills">
        <div class="col-sm-12">
          <h1 class="lead" style="color: white; font-size: 50px; margin: 0px">
            Skills
          </h1>
          <div id="mouseover2" style="padding-bottom: 20px">
            <i style="color: #181818">s</i>
            <i class="col-lg-3 col-md-4 col-xs-6" style="color: #666666; padding-left: 20px" id='fade2'>Click for more information</i>
          </div>
        </div>
        <div class="panel-group" id="accordion2">
          <div class="panel" style="background-color: #181818;">
            <div class="col-sm-8">
              <% @skills.each do |skill| %>
              <div class="col-lg-3 col-md-4 col-xs-6 collapse-group" style="margin-bottom: 0px; width: 210px; height: 210px; overflow: hidden">
                <a class="text-center" data-parent="#accordion2" data-toggle="collapse" data-target="#collapse2_<%= skill.id %>">
                <img onclick="smoothScroll(document.getElementById('spacer'))" style="width: 95%" src="<%= skill.imageURL%>"> 
                </a>
              </div>
              <% end %>
            </div>
            <% @skills.each do |skill| %> 
            <div class="col-sm-4 collapse" id="collapse2_<%= skill.id%>" style="color: white">
              <div class="lead text-center" style="font-size: 34px"><%= skill.name%></div>
              <div class="lead text-center" style="font-size: 16px">
                <% @yearsKnown = "Known for " << (Date.today.year - skill.learnt.year).to_s << " years "%>
                <% @yearKnown =  "Known for 1 year "%>
                <% if ((Date.today.year - skill.learnt.year) != 1)  
                  then @yearText = @yearsKnown 
                  else @yearText = @yearKnown 
                  end %>
                <% @months = Date.today.month - skill.learnt.month %>
                <% if (@months < 0)
                  then @months = -@months
                  end %> 
                <% @monthsKnown = (@months).to_s << " months" %>
                <% @monthKnown =  "1 month" %>
                <% if ((@months) != 1) 
                  then @monthText = @monthsKnown 
                  else @monthText = @monthKnown 
                  end %>
                <%= @yearText << @monthText %>
              </div>
              <div>
                <%= skill.examples %>
              </div>
              <img style="width: 90%; margin-top:25px;" src="<%= skill.imageURL%>">
            </div>
            <% end %>         
          </div>
        </div>
      </div>

      <div class="col-sm-12">
        <hr class="my-2" style="margin-bottom: 80px;">
      </div>

    </div>
  </div>
</body>